#page1{
	height: 1000px;
}
a:link,
a:visited{
	color: lightskyblue;
	background-color:transparent;
}
a:hover,
a:active{
	color: dodgerblue;
	background-color:transparent;
	text-decoration:underline;
}
#nav{
	font-family: 'Share Tech Mono', monospace;
	font-size: 2rem;
	padding-top: 2.5%;
}
#topicons{
	text-align: center;
}
#name{
	font-family: 'Pacifico', monospace;
	font-size: 5rem;
	padding-top: 3%;
}
.content{
	font-family: 'Share Tech Mono', monospace;;
	font-size: 3rem;
	line-height: 175%;
	padding-top: 2.5%;
}
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
#resume{
  padding-top: 50px;
  text-align: center;
}
#page2{
	height: 1200px;
}
#page3{
	height: 1000px;
}
#project{
	font-family: 'Share Tech Mono', monospace;;
	font-size: 2rem;
	line-height: 175%;
	padding-top: 2.5%;
}
#project-title{
	font-size: 3rem;
	padding-bottom: 2.5%
}
#spotify{
	text-align: center;
}
#spotify a:link{
	color: lawngreen;
	background-color: transparent;
}
#spotify a:visited,
#spotify a:hover,
#spotify a:active{
	color: lawngreen;
	background-color: transparent;
	text-decoration: underline;
}
#personalsite{
	text-align: center;
}
#personalsite a:link{
	color: lightskyblue;
	background-color: transparent;
}
#personalsite a:visited,
#personalsite a:hover,
#personalsite a:active{
	color: lightskyblue;
	background-color: transparent;
	text-decoration: underline;
}
#pogo{
	text-align: center;
}
#pogo a:link{
	color: red;
	background-color: transparent;
}
#pogo a:visited,
#pogo a:hover,
#pogo a:active{
	color: red;
	background-color: transparent;
	text-decoration: underline;
}
#frackman{
	text-align: center;
}
#frackman a:link{
	color: black;
	background-color: transparent;
}
#frackman a:visited,
#frackman a:hover,
#frackman a:active{
	color: black;
	background-color: transparent;
	text-decoration: underline;
}
#page4{
	height: 900px;
}
#contact-icons{
	padding-top: 200px;
	text-align: center;
}
#facebook a:link{
	color: dodgerblue;
	background-color: transparent;
}
#facebook a:visited,
#facebook a:hover,
#facebook a:active{
	color: dodgerblue;
	background-color: transparent;
	text-decoration: underline;
}
#instagram a:link{
	color: tomato;
	background-color: transparent;
}
#instagram a:visited,
#instagram a:hover,
#instagram a:active{
	color: tomato;
	background-color: transparent;
	text-decoration: underline;
}
#twitter a:link,
#twitter a:visited{
	color: gold;
	background-color:transparent;
}
#twitter a:hover,
#twitter a:active{
	color: gold;
	background-color:transparent;
	text-decoration:underline;
}
#contact-info{
	text-align: center;
	font-family: 'Share Tech Mono', monospace;
	font-size: 2rem;
	padding-top: 50px;
	color: lightslategray;
}
