#page1{
	height: 1000px;
}
a:link{
	color:lightskyblue;
	background-color:transparent;
}
a:visited,
a:hover,
a:active{
	color:lightskyblue;
	background-color:transparent;
	text-decoration:underline;
}
#nav{
	font-family: 'Share Tech Mono', monospace;
	font-size: 2rem;
	padding-top: 2.5%;
}
#topicons{
	text-align: center;
}
#name{
	font-family: 'Pacifico', monospace;
	font-size: 5rem;
	padding-top: 3%;
}
.content{
	font-family: 'Share Tech Mono', monospace;;
	font-size: 3rem;
	line-height: 175%;
	padding-top: 2.5%;
}
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
#resume{
  padding-top: 50px;
  text-align: center;
}
#page2{
	height: 1200px;
}
#page3{
	height: 1000px;
}
#page4{
	height: 1000px;
}
#contact-icons{
	
}
